@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');

body {
  color: white;
}

.bg-bright {
  background-color: white !important;
  color: black !important;
}

/* links did not auto change on day night color change so making manually*/
.font-black {
  color: black !important;
}

/* navbar links and icons color not working on toggle view so making manually */
.navbar-light .navbar-nav .nav-link {
  color: rgba(0,0,0,.55) !important;
}

.navbar-light .navbar-toggler {
  color: rgba(0,0,0,.55) !important;
  border-color: rgba(0,0,0,.1) !important;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.toggle-button {
  background-image: url(../image/icons/moon-stars.svg);
  background-size: 30px;
  background-color: rgb(159, 157, 157) !important;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  /* put the height and width of your image here */
  border-radius: 50%;
  height: 50px;
  width: 50px;
  border: none;
  position: fixed;
  z-index: 10;
  right: 100px;
  top: 20px;
}

.toggle-button-hover {
  background-image: url(../image/icons/moon-stars-fill.svg) !important;
  box-shadow: 0px 0px 50px white;
}

.day-img {
  background-image: url(../image/icons/brightness-high.svg) !important;
  background-color: transparent !important;
}

.day-img-hover {
  background-image: url(../image/icons/brightness-high-fill.svg) !important;
}

.carousel-item img {
  height : 600px;
}

@media (max-width: 762px) {
  .carousel-item img {
    height : 300px;
  }
}
.box{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 15px;
  margin: 0 auto;
  justify-content:center;
}

.card{
  position: relative;
  width: 300px;
  height: 350px;
  background: #fff;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 20px;
  border-radius: 4px;
  box-shadow:0 2px 10px rgba(0,0,0,.2);
}
.card:before,
.card:after {
  content:"";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background: #fff;
  transition: 0.5s;
  z-index:-1;
}
.card:hover:before{
  transform: rotate(20deg);
  box-shadow: 0 2px 20px rgba(0,0,0,.2);
}
.card:hover:after{
  transform: rotate(10deg);
  box-shadow: 0 2px 20px rgba(0,0,0,.2);
}
.card .imgBx{
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  background: #222;
  transition: 0.5s;
  z-index: 1;
}
  
.card:hover .imgBx {
  bottom: 80px;
}

.card .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card .details {
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 10px;
  height: 60px;
  text-align: center;
}

.card .details h2 span {
  font-weight: 500;
  font-size: 16px;
  color: #0ce77d;
  display: block;
  margin-top: 5px;
} 

a {
  color: rgb(83, 81, 81);
  text-decoration: none !important;
}

@-webkit-keyframes track-in-out {
  0% {
    letter-spacing: 1em;
    color: #F22B29;
    opacity: 0;
  }
  20% {
    letter-spacing: normal;
    opacity: 1;
  }
  80% {
    letter-spacing: normal;
    opacity: 1;
  }
  100% {
    letter-spacing: 1em;
    color: #6320EE;
    opacity: 0;
  }
}

#myText{
  font-size: 40px;
  margin-top: 50px;
  color: #009499;
  word-spacing: 10px;
  text-shadow: 2px 2px 5px grey;
  width: 100%;
  text-align: center;
  font-family: 'Merriweather', serif;
  animation-name: track-in-out;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}



h1 {
  margin: 30px;
  align-self: center;
  height: 140px;
  text-align: center;
}

h1 span {
  position: relative;
  top: 20px;
  display: inline-block;
  animation: bounce .3s ease infinite alternate;
  font-family: 'Titan One', cursive;
  font-size: 80px;
  color: #FFF;
  text-shadow: 0 1px 0 #CCC,
               0 2px 0 #CCC,
               0 3px 0 #CCC,
               0 4px 0 #CCC,
               0 5px 0 #CCC,
               0 6px 0 transparent,
               0 7px 0 transparent,
               0 8px 0 transparent,
               0 9px 0 transparent,
               0 10px 10px rgba(0, 0, 0, .4);
}

@keyframes bounce {
  100% {
    top: -20px;
    text-shadow: 0 1px 0 #CCC,
                 0 2px 0 #CCC,
                 0 3px 0 #CCC,
                 0 4px 0 #CCC,
                 0 5px 0 #CCC,
                 0 6px 0 #CCC,
                 0 7px 0 #CCC,
                 0 8px 0 #CCC,
                 0 9px 0 #CCC,
                 0 50px 25px rgba(0, 0, 0, .2);
  }
}


.notify {
  margin-top: 40px;
}

.notify p {
  letter-spacing: 3px;
  font-size: 2rem;
}

.notify span input{
  width: 15rem;
}

.notify span button {
  margin-top: 10px;
  margin-left: 10px;
}

.neon-border-btn.black-btn {
  color: #a2a0a0 !important;
  border: #a2a0a0 solid 2px !important;
}